<style>
.label_left{
	float:left;
	margin-bottom:-7px;
}
.float_right{
	float:right;
	width:225px;
}
.text-Control{
	height:35px;
}
</style>
<div style="height: 100%;">
<div id = "header" style="height: 80px; background: rgb(121, 134, 203) none repeat scroll 0% 0%; width: 100%; position: fixed; z-index: 10;">
	
	<div id = "classroom" style="padding:20px; color:#ffffff; font-size:2.0em">
		
		<button type="button" class="btn btn-default" style="float:left; border:none; background:none; color:white; margin: 3px 0px 0px 30px;" ng-click="back()">
		<img src = "/sprinklr/resources/static/images/back.jpeg" style="width:40px; margin-top:-10px;">
		</button>
		<span style="float:left">
		{{ courseName | limitTo: 20 }}{{courseName.length > 20 ? '...' : ''}}</span>
		
		<div class="float_right">
		<button type="button" class="btn btn-default" style="float:right; border-radius:14px; background:none; color:white; margin-right:20%; width:90px;" ng-click="add(courseId,lessonId)">Add New</button>
		
		</div>
	</div>
	
</div>
<div class="container" style="padding-top: 78px;  height: 100vh;">
<div class="col-md-11" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 70%; box-sizing: border-box; float: left; margin-left: 2%; min-height:100vh;" align="left" >
    <div class="row" align="left" style="margin:3% 3%; height:auto;">
	<div ng-repeat="lesson in lessonClass" >
  	<iframe width="100%" height="315px" align="center" ng-src="{{getIframeSrc(lesson.url)}}">
	</iframe>
	<span><h2 class = "text_color">{{lesson.title}}</h2></span>  
    <span><p class="p_color">{{lesson.desc}}</p></span>
	<span class="hr_color"><hr></span>
	 </div> 
</div>
</div>
<div class="col-md-2" style="float:right; background:#fff; margin-left:1%; margin-right:7%; width:20%; min-height:100vh; box-sizing: border-box;" align="right" >
    <div class="row" align="left" style="margin:3% 3%; height:100%">

	<div ng-repeat="course in coursesClass" style="padding:0.5%; margin-bottom:5px;" class="col-md-12 col-sm-12 col-xs-12 portfolio-item animate-repeat low-vertical-padding" >
    			<md-card class="place-card">
    			<div style="width:100%;">
    			<a ng-href="#course/{{course.Course.id}}" class="portfolio-link md-ink-ripple">
    			<img src = "/sprinklr/resources/static/images/{{course.Course.id}}.jpeg" style="width:100%; height:130px;" class="place-img">
    			<div class="md-ripple-container" ></div>
    			 <div style="min-height:40px; padding-left:10px; padding-right:10px;">
    			<span class="left-text">
			              <h4 class="header-on-image text_color" style="font-size: 14px;"> {{ course.Course.name | limitTo: 20 }}{{course.Course.name.length > 20 ? '...' : ''}}({{course.Course.lessons.length}})</h4>
			    		  <h4 class="header-on-image p_color" style="font-size: 10px; margin-top:-7px;">Added By: {{course.Course.addedby | limitTo: 15 }}{{course.Course.addedby.length > 15 ? '...' : ''}}</h4>	
			    </span>
			    </div>
    			</a>
    			
    			</div>
    			
    			</md-card>
    			
    	</div>
    
    
</div>
</div>
</div>    
</div>